/* common */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.back-to-position {
  opacity: 0;
  transition: 3s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.inner-title {
  position: absolute;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}
.section-title {
  font-size: 35px;
  font-weight: 700;
  font-family: 'Black Han Sans', sans-serif;
  color: #000;
  letter-spacing: 3px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  padding-bottom: 5px;
}
.section-title p {
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
}

/* header */
header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
}
header > .inner {
  height: 100px;
  margin: 0 auto;
  width: 80%;
}
header .title {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 30px;
  left: 20px;
  color: #656565;
  cursor: pointer;
}
header .title:hover {
  color: #fc3819;
}
header .menu {
  position: absolute;
  top: 26px;
  right: 0;
}
header .menu ul.item {
  font-family: Arial, sans-serif;
}
header .menu ul.item li {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  padding: 11px 30px;
  display: block;
  color: #656565;
  cursor: pointer;
}
header .menu ul.item li:hover {
  color: #fc3819;
}

/* main_bg */
.main {
  margin-top: 100px;
  background-image: url('../img/instrument.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.main .inner {
  height: 920px;
}
.main .inner .main-title {
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 400px;
  right: 0;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -4px;
}
.main .inner .main-title span {
  font-size: 90px;
}

/* about */
.about .inner {
  width: 80%;
  height: 850px;
  top: 300px;
  bottom: 0;
}
.about .inner .picture p {
  position: absolute;
  z-index: 1;
  transform: translate(140%, 30%);
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  line-height: 1.2;
  font-size: 35px;
  color: #cd838a;
}
.about .inner .picture img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  filter: grayscale(80%) contrast(120%);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 10%;
}
.about .inner .picture:hover img {
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  filter: none;
}
.about .photo {
  position: absolute;
  top: 30%;
  left: 47%;
  transform: translate(-120%, -50%);
  display: block;
}
.about .inner .text {
  position: absolute;
  top: 10%;
  right: 90px;
}
.about .inner .text p {
  font-family: 'Tangerine', sans-serif;
  line-height: 1.7;
  color: #333;
}
.about .inner .text p:first-child {
  font-size: 25px;
  font-weight: 700;
  color: #000;
  padding-bottom: 10px;
  line-height: 1.4;
}
.about .inner .text span {
  font-size: 30px;
  color: #cd838a;
  border-bottom: 2px solid #f9c62d;
  padding-bottom: 3px;
}

/* about-icon */
.about-icon {
  border: 1px solid #f2f2f2;
  background-position: center;
}
.about-icon .inner {
  width: 90%;
  height: 120px;
}
.about-icon .inner .icon-line {
  position: absolute;
  top: 31px;
  left: 15%;
}
.about-icon .inner .icon-line, ul {
  display: flex;
  padding-left: 120px;
  box-sizing: border-box;
}
.about-icon .inner .icon-line, ul:first-child {
  padding-left: 0;
}
.about-icon .inner .icon-line ul span {
  font-size: 23px;
  font-weight: 700;
}
.about-icon .inner ul li {
  position: relative;
  font-size: 18px;
  color: #444;
}
.about-icon .inner ul li img {
  margin: 0 30px 0 20px;
}

/* skills */
.skills {
  background-color: #ffdf00;
}
.skills .inner {
  padding: 40px 0;
  top: 300px;
  bottom: 0;
}
.skills .swiper-container {
  width: 100%;
  height: 550px;
}
.skills .swiper-prev,
.skills .swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  cursor: pointer;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  bottom: 0;
  margin: 0 auto;
}
.skills .swiper-prev {
  left: -50px;
}
.skills .swiper-next {
  right: -50px;
}
.skills .swiper-container .swiper-wrapper .swiper-slide p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
}
.skills .swiper-container .swiper-wrapper .swiper-slide img {
  width: 120px;
  height: 120px;
}
.skills .swiper-container .swiper-wrapper .swiper-slide img:first-child {
  padding-left: 56px;
}

/* Version Control */
.version-control {
  background-image: url('../img/crowd.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.version-control .inner {
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.version-control .medal {
  width: 350px;
  height: 350px;
  perspective: 600px;
}
.version-control .medal img {
  border-radius: 50%;
}
.version-control .medal .front,
.version-control .medal .back {
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}
.version-control .medal .front {
  transform: rotateY(0deg);
}
.version-control .medal:hover .front {
  transform: rotateY(180deg);
}
.version-control .medal .back {
  transform: rotateY(-180deg);
}
.version-control .medal:hover .back {
  transform: rotateY(0deg);
}
.version-control .medal .back .btn {
  width: 200px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
  position: absolute;
  top: 225px;
  left: 0;
  right: 0;
  margin: auto;
}
.version-control .medal .back .btn:hover {
  background-color: #333;
  color: #fff;
}

/* Portfolio */
.portfolio {
  background-color: #f2f2f2;
  width: 100%;
  height: 980px;
}
.portfolio .inner {
  width: 70%;
  height: 500px;
  top: 300px;
  bottom: 0;
}
.portfolio .portfolio-line img {
  width: 720px;
  height: 400px;
}
.portfolio .portfolio-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
}
.portfolio .portfolio-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
}
.portfolio .portfolio-line {
  width: 100%;
  height: 100%;
}
.portfolio .portfolio-line .inner {
  display: flex;
}
.portfolio .portfolio-line .inner__left {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
.portfolio .portfolio-line .inner__right {
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1.7;
}
.portfolio .portfolio-line .inner__right p:first-child {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
  border-bottom: 2px solid #333;
}
.portfolio .portfolio-line .inner__right .btn-group {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio-line .inner__right a {
  font-size: 20px;
  color: #333;
  padding: 15px;
  box-sizing: border-box;
}
.portfolio .portfolio-line .inner__right a img {
  width: 35px;
  height: 35px;
  float: left;
  margin: 0 auto;
  padding-right: 10px;
}

/* To Top Button */
#to-top {
  width: 52px;
  height: 52px;
  background-color: #fff;
  opacity: .8;
  box-shadow: 10px 15px 25px 0 rgba(205,131,138,.4);
  color: #cd838a;
  border: 2px solid #cd838a;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9;
}
#to-top:hover {
  background-color: #cd838a;
  color: #fff;
  border: 2px solid #fff;
}